    <!-- About Section -->
    <section id="about" class="container content-section text-center">
            <div class="row">
                    <div class="col-md-7 col-sm-12 col-md-offset-3 ">
                            <div class="row">
                                    <div class="col-md-12">
                                            <h3 style="color:#2396da">Vorteil Commandline Interface (VCLI)</h3>
                                    </div>
                                    <div class="col-md-3">
                                            <img src="/img/App.png" alt="app">
                                    </div>
                                    <div class="col-md-9">
                                            <p style="color:#7c858e; text-align: left;">Developers can use the VCLI to build apps directly into virtual machine images using Vorteil OS. VCLI is available for Windows, MacOS, and Linux, so your developers can get up and running no matter what desktop environment they prefer to work in.</p>
                                    </div>
                            </div>
                            <hr>
                            <div class="row">
                                    <div class="col-md-12">
                                            <h3  style="color:#2396da">Vorteil OS</h3>
                                    </div>
                                    <div class="col-md-3">
                                            <img src="/img/VirtualMachine.png" alt="app">
                                    </div>
                                    <div class="col-md-9">
                                            <p style="color:#7c858e; text-align: left;">Vorteil OS is the engine behind the scenes, running your apps quickly, securely, and efficiently. Vorteil OS has been written from scratch to provide only the functionality your apps need to run using a microservices architecture, so there’s the absolute minimal resource and administration overheads.</p>
                                    </div>
                            </div>
                            <hr>
                            <div class="row">
                                    <div class="col-md-12">
                                            <h3  style="color:#2396da">Vorteil Management Server (VMS) and the Private Cloud</h3>
                                    </div>
                                    <div class="col-md-3">
                                            <img src="/img/Cluster.png" alt="app">
                                    </div>
                                    <div class="col-md-9">
                                            <p style="color:#7c858e; text-align: left;">VMS is used to deploy and manage your fleet of Vorteil machines, including capabilities for app repositories to help you keep on top of updates to your code. VMS can be used to deploy the machines to your existing investment in your private hypervisor environment.</p>
                                    </div>
                            </div>
                            <hr>
                            <div class="row">
                                    <div class="col-md-12">
                                            <h3  style="color:#2396da">Vorteil Management Server (VMS) and the Public Cloud</h3>
                                    </div>
                                    <div class="col-md-3">
                                            <img src="/img/Cloud.png" alt="app">
                                    </div>
                                    <div class="col-md-9">
                                        <p style="color:#7c858e; text-align: left;">VMS can also be used to manage a fleet of Vorteil machines in the public cloud, with released support for Google Cloud Platform, with AWS, Microsoft Azure, and other major players coming soon. Alternatively, we can manage your fleet for you using our Vorteil as a Service offering.</p>
                                    </div>
                            </div>
                    </div>
            </div>
    </section>
