    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body"  style="background-color: rgba(0,0,0,0.5);">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">{{ site.title }}</h1>
                        <div class="row">
                                <!-- <div class="col-md-6">
                                        <p class="intro-text" style="vertical-align: middle !important;">{{ site.description }}<br>
                                </div> -->
                                <div class="col-md-12" style="margin-bottom: 25px;">
                                        <iframe width="560" height="315" src="https://www.youtube.com/embed/NKjCnMLd-Rs?rel=0" frameborder="0" allowfullscreen></iframe>
                                </div>
                        </div>
                        <div class="row">
                                <a href="#about" class="btn btn-circle page-scroll">
                                        <i class="fa fa-angle-double-down animated"></i>
                                </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
