    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body hidden-xs">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <h1 class="brand-heading" style="margin-bottom: 80px;">{{ site.title }}</h1>
                        <div class="row">
                                <div class="col-md-3 col-sm-12" style="text-align: center;">
                                        <div class="row" style="text-align: center; height: 80px;">
                                                <img style="max-width: 75px;" src="img/compile.png" alt="Compile and Package" />
                                        </div>
                                        <div class="row" style="padding: 10px;">
                                                <p><b>COMPILE & PACKAGE</b></p>
                                                <p>Code your application or use one of ours and drop it on Vorteil!</p>
                                        </div>
                                </div>
                                <div class="col-md-3 col-sm-12" style="text-align: center;">
                                        <div class="row" style="text-align: center; height: 80px;">
                                                <img style="max-width: 75px;" src="img/deploy.png" alt="Deploy" />
                                        </div>
                                        <div class="row" style="padding: 10px;">
                                                <p><b>DEPLOY</b></p>
                                                <p>Deploy it to vorteil.io or your favourite Cloud platform</p>
                                        </div>
                                </div>
                                <div class="col-md-3 col-sm-12" style="text-align: center;">
                                        <div class="row" style="text-align: center; height: 80;">
                                                <img style="max-width: 75px;" src="img/run.png" alt="Run" />
                                        </div>
                                        <div class="row" style="padding: 10px;">
                                                <p><b>RUN</b></p>
                                                <p>Destroy, create, scale at the touch of a button in milliseconds!</p>
                                        </div>
                                </div>
                                <div class="col-md-3 col-sm-12" style="text-align: center;">
                                        <div class="row" style="text-align: center; height: 80px;">
                                                <img style="max-width: 75px;" src="img/report.png" alt="Report" />
                                        </div>
                                        <div class="row" style="padding: 10px;">
                                                <p><b>REPORT</b></p>
                                                <p>Insight into how your application is performing with minimal CPU, network and disk consumption.</p>
                                        </div>
                                </div>
                        </div>

                        <div class="row">
                                <a href="#video" class="btn btn-circle page-scroll">
                                        <i class="fa fa-angle-double-down animated"></i>
                                </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="intro-body visible-xs hidden-md">
                <div class="row" style="padding: 0 25px 0 25px;">
                        <div class="col-sm-8 col-sm-offset-2">
                                <h1 class="brand-heading">{{ site.title }}</h1>
                                <div class="row">
                                                <p>Easily build and provision applications as independent virtual machines for rapid deployment and immutable infrastructure.</p>
                                </div>
                        </div>
                </div>
        </div>
    </header>
