 <!-- jQuery Version 1.11.0 -->
    <script src="{{ "/js/jquery.js" | prepend: site.baseurl }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ "/js/jquery.easing.min.js" | prepend: site.baseurl }}"></script>


    <!-- Custom Theme JavaScript -->
    <script src="{{ "/js/grayscale.js" | prepend: site.baseurl }}"></script>

    <script>
    function initMap() {
            var sisatech = {lat: -28.1207025, lng: 153.4719992};
            var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 15,
                    center: sisatech,
                    disableDefaultUI: false,
                    scrollwheel: false,
                    draggable: false
            });
            var marker = new google.maps.Marker({
                    position: sisatech,
                    map: map
            });
    }
    </script>

    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <script async defer type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAoW6jqZoAv6DLIi62goXs1q-kn0uDjaSM&sensor=false&callback=initMap"></script>
