<!-- Video Section  -->

<section class="download">
        <div class="row">
                <div class="col-md-12" style="margin-bottom: 25px;">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/NKjCnMLd-Rs?rel=0" frameborder="0" allowfullscreen></iframe>
                </div>
        </div>
        <div class="row">
                        <p>Easily build and provision applications as independent virtual machines for rapid deployment and immutable infrastructure.</p>
        </div>
</section>
