<!-- Video Section  -->

<section class="video1">
        <div class="row" style="text-align: center; padding: 50px 0 50px 0">
                        <p>Easily build and provision applications as independent virtual machines for rapid deployment and immutable infrastructure.</p>
        </div>
</section>
<section class="video2" style="text-align: center; background-color: rgba(0,0,0,0.5); margin-top: 30px;">
        <div class="row">
                <div class="col-md-12" style="margin-bottom: 25px;">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/NKjCnMLd-Rs?rel=0" frameborder="0" allowfullscreen></iframe>
                </div>
        </div>
</section>
